<p></p>
<h1>Crear Orden</h1>
<div class="container">
 <div class="row">
     <div class="col-12">
      <div class="container px-2 py-2" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Prioridad</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
              <h3 class="fs-2 text-body-normal">Alta Prioridad</h3>
              <p>Problemas al encender equipos, caída de sistemas y redes. Problemas de Seguridad. Servicio dentro de las 48hs</p>
              <a href="#" class="btn btn-primary">
                Crear Orden
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Prioridad Intermedia</h3>
              <p>Problemas de Virus, Malwares, Adywares. Instalación de Software y Hardware. Servicio dentro de las 96hs</p>
              <a href="#" class="btn btn-primary">
                Crear Orden
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Requerimiento Planeado</h3>
              <p>Armado de redes. Instalación de software o Hardware muy específicos. Optimización de sistemas operativos. Luego de 5 días hábiles</p>
              <a href="#" class="btn btn-primary">
                Crear Orden
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
              <h4 class="fs-2 text-body-emphasis">Preventivo</h4>
              <p>Limpieza física de equipos. Backups. Virtualización. Luego de 7 días hábiles</p>
              <a href="#" class="btn btn-primary">
                Crear Orden
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            </div>
            <div>
              <h4 class="fs-2 text-body-emphasis">STAN</h4>
              <p>Servicio Tecnológico de Alto Nivel: Asistencia Congresos, Asesorías, Consultorías</p>
              <a href="#" class="btn btn-primary">
                Crear Orden
              </a>
            </div>
          </div>
        </div>
      </div>
  <div class="row">
      <diV class="col-12">
        <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Descripción</label>
        </div>
      </diV>
      <div class="col-12 d-flex justify-content-center mt-3"></div>
        
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn  btn-primary btn-lg">Modificar Orden</button>
        <button type="button" class="btn btn-primary btn-lg">Eliminar Orden</button>
        </div>
    </div>
    </div>
    </div>
</div>

