<p>Crear Orden</p>
<div class="container">
 <div class="row">
    <div class="col-4">
      Prioridad
        <select class="form-select" aria-label="Default select example">
        <option selected>Urgente</option>
        <option value="1">Intermedia</option>
        <option value="2">Planificado</option>
        <option value="3">Preventivo</option>
        <option value="4">STAN</option>
        </select>
    </div>
    <div class="col-4">
        <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Descripción</label>
        </div>
    </div>
    <div class="col-4">
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-lg">Crear Orden</button>
        <button type="button" class="btn  btn-primary btn-lg">Modificar Orden</button>
        <button type="button" class="btn btn-primary btn-lg">Eliminar Orden</button>
        </div>
    </div>
</div>

