<h1></h1>

<div class="container">
    <div class="row">
      <div class="col-12">
        
        <img src="assets/monitor.jpeg" width="60" height="90" >
        <img src="assets/soporte.jpg" width="100" height="90" >
        <img src="assets/monitor.jpeg" width="60" height="90" >
        <img src="assets/soporte.jpg" width="100" height="90" >
        <img src="assets/monitor.jpeg" width="60" height="90" >
        <img src="assets/soporte.jpg" width="100" height="90" >
       
      </div>
      <div class="col-6" class=" fondo">
 <router-outlet></router-outlet>      
 <!--<about-us></about-us>-->
 <!--<user-list></user-list>-->
 <!--<order-list></order-list> -->      
<ul class="nav justify-content-center">
  <h4>Servicio Técnico de Informática CCT Tandil</h4>
  <li class="nav-item ">
    <a class="nav-link text-primary active " aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary resaltado" [routerLink]="['/about']">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary" href="#">Contact</a>
  </li>
  
</ul>
  </div>
    </div>
      <div class="row">
        <div class="col-12">
           <user-list></user-list>
        </div>
      </div>
      
      <div class="row">
         <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
  <order-list></order-list>
  
 
      </div>
         </div>
         </div>
    <div class="row">
      <div class="col-12">
        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 STI CCT </p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">News</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Services</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
          </footer>
        </div>
        
        
      </div>
    </div>
</div>
