<h1></h1>

<div class="container">
    <div class="row">
      <div class="col-6">
        Logo
        <img src="assets/soporte.jpg" alt="">
      </div>
      <div class="col-6">
        Menu
        
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active resaltado" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link resaltado" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link resaltado" href="#">Contact</a>
  </li>
  
</ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
         <user-list></user-list>
        
      </div>
   
      
       <div class="row">
      <div class="col-12">
<div class="btn-group" role="group" aria-label="Basic example">
  <order-list></order-list>
  
 
  </div>
    
    <div class="row">
      <div class="col-12">
        Footer
        
      </div>
    </div>
</div>
