<p>Seleccionar Usuario</p>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Instituto</th>
        <th scope="col">mail</th>
        <th scope="col">celular</th>
        <th scope="col">image</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <th>{{user.name}}</th>
        <td class="resaltado">{{user.institute}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.cel}}</td>
        <td>{{user.image}}</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td></td>
      </tr>
    </tbody>
  </table>